---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const today = new Date();
const birthDate = new Date('1996-12-31'); // Assuming birth date is December 31, 1996

let age = today.getFullYear() - birthDate.getFullYear();
const monthDifference = today.getMonth() - birthDate.getMonth();
if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
	age--
}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Milk's Coppermind</h1>
			<p>
				My name is Lucas, but known more as Milk! Currently I'm a {age} year old software engineer, frustrated and realizing that I'm lost.
				I like to code, but I also like to tell stories and creating worlds.
			</p>
			<p>
				So, I decided to learn game dev. It feels like a great step, uniting my 7 years of coding knowledge to my passion of creating worlds.
				I also created this simple blog to share my journey, it will give me a little push, even if no one reads.
			</p>
			<p>
				I want each post to be a five to ten minutes read, from learning the basics to complete art. I hope to share this experience the best way possible.
			</p>

			<p style="font-style: italic;"> 
				"The most important step a man can take, it's not the first one. is it? It's the next one. Always the next step, Dalinar." - Brandon Sanderson, Oathbringer
			</p>

			<h5> Extra stuff or things for easy access </h5>
			<ul>
				<!--<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>-->
				<li><a href="/milksblog/links">/links</a> - a list of useful links that I used on my journey </li>
				<li><a href="/milksblog/stories">/stories</a> - what I wrote or am writing </li>
			</ul>
			<h5> Why Coppermind?</h5>
			<p>
				It's a reference to the Cosmere by Brandon Sanderson, a universe that I hold dear to my heart. A coppermind is a acessory made of copper, that certain people can use to store memories. Inside the coppermind memories do not degrate with time. It felt like the perfect name, as it made dedicate myself to writing again.
			</p>
		</main>
		<Footer />
	</body>
</html>
